<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>


</head>
<body onload="initialize()">
<h1>Guess which company is here</h1>

<div id="map_canvas"></div>
<div id="shuffle" style="width: 100%">
    <div id="comp1" class="shuffleDivs" data-companyname="<%= companies[0].name %>">
        <h3><%= companies[0].name %></h3>
    </div>
    <div id="comp2" class="shuffleDivs" data-companyname="<%= companies[1].name %>">
        <h3><%= companies[1].name %></h3>
    </div>
    <div id="comp3" class="shuffleDivs" data-companyname="<%= companies[2].name %>">
        <h3><%= companies[2].name %></h3>
    </div>
</div>
<script type="text/javascript">
    function $(el) {
        return document.getElementById(el);
    }
    function isCorrectDiv(targetId) {
        var companyName = "<%=companies[2].name %>";
        var targetObj = $(targetId);
        var targetCompany = targetObj.getAttributeNode('data-companyName');
        if (targetCompany.nodeValue == companyName) {
            alert('Correct!');
            window.location.reload();
        } else {
            alert('Wrong!');
        }


    }
    function loadStreetView(map, myLatlng) {

        // Find street view within 200 meters, as street view may not always be available on any latlng
        var service = new google.maps.StreetViewService();
        service.getPanoramaByLocation(myLatlng, 1000, function (result, status) {
            if (status == google.maps.StreetViewStatus.OK) {
                var panorama = map.getStreetView();
                panorama.setPosition(result.location.latLng);
                panorama.setVisible(true);
            }
            else {
                alert("No street view is available");
                return;
            }
        });
    }

    function initialize() {
        var lat = '<%= googleData.results[0].geometry.location.lat %>';
        var lng = '<%= googleData.results[0].geometry.location.lng %>';
        var formattedAddress = '<%= googleData.results[0].formatted_address %>';
        var companyName = "<%=companies[2].name %>";
        var mapOptions = {
            center: new google.maps.LatLng(lat, lng),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

        var myLatlng = new google.maps.LatLng(lat, lng);
        loadStreetView(map, myLatlng);

    }

    function shuffle(elems) {

        allElems = (function () {
            var ret = [], l = elems.length;
            while (l--) {
                ret[ret.length] = elems[l];
            }
            return ret;
        })();

        var shuffled = (function () {
            var l = allElems.length, ret = [];
            while (l--) {
                var random = Math.floor(Math.random() * allElems.length),
                    randEl = allElems[random].cloneNode(true);
                allElems.splice(random, 1);
                ret[ret.length] = randEl;
            }
            return ret;
        })(), l = elems.length;

        while (l--) {
            elems[l].parentNode.insertBefore(shuffled[l], elems[l].nextSibling);
            elems[l].parentNode.removeChild(elems[l]);
        }

    }

    shuffle(document.getElementsByClassName('shuffleDivs'));
    $('comp1').style.cursor = 'pointer';
    $('comp1').onclick = function () {
        isCorrectDiv('comp1');
    };
    $('comp2').style.cursor = 'pointer';
    $('comp2').onclick = function () {
        isCorrectDiv('comp2');
    };
    $('comp3').style.cursor = 'pointer';
    $('comp3').onclick = function () {
        isCorrectDiv('comp3');
    };

</script>
</body>
</html>
